/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

nav {
	background: white;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	position: sticky;
	top: 0px;
	z-index: 1;
}

/*nav-logo, right-nav*/
ul li, ul div {
	display: inline-block;
}

/*nav-logo*/
ul li {
	margin-top: 0.6rem;
	margin-left: 4rem;
}

/*right-nav*/
ul div {
	position: absolute;
	right: 4rem;
}

/*nav items*/
div .nav {
	margin: 0.8rem;
}

/*apply now button*/
.tuitt-button {
	background: #c2195b;
	border-radius: 25px;
	border: 0px;
	padding: 0.4rem;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	color: white;
	display: inline-block;
}

/*image height*/
#bg-image, section .front-bg {
	min-height: 40vh;
}

/*image background*/
#bg-image {
	object-fit: fill;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: cover;
	background-position: 50% 50%;
}

section .front-bg {
	background: rgba(0, 0, 0, 0.5);
}

/*landing page container*/
.container {
	text-align: right;
	margin-right: 6rem;
}

.title, .title-2 {
	font-family: 'Zilla Slab', sans-serif;
}

.title {
	font-size: 2.3rem;
	font-weight: bold;
	align-self: flex-end;
	margin-bottom: 10px;
}

.subtitle {
	font-size: 0.9rem;
}

.title, .subtitle {
	color: white;

}

/*apply now button 2*/
.apply-button {
	margin-top: 10px;
	margin-right: 12px;
	background: #c2195b;
	border-radius: 25px;
	border: 0px;
	padding: 0.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
	color: white;
	display: inline-block;
}

.intro, .pre-footer {
	text-align: center;
}

.intro {
	margin-bottom: 4rem;
}

.pre-footer {
	padding-bottom: 5rem;
	background: #f7fbfb;
}

.title-2 {
	font-size: 2rem;
	padding: 2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.intro-description, .prefooter-description {
	padding-left: 20rem;
	padding-right: 20rem;
	font-size: 0.9rem;
}

.intro-description {
	text-align: justify;
}

.book-button {
	margin-top: 10px;
	margin-right: 12px;
	background: #336589;
	border-radius: 25px;
	border: 0px;
	padding: 0.4rem;
	padding-left: 2rem;
	padding-right: 2rem;
	color: white;
	display: inline-block;
}

footer {
	text-align: center;
	margin-bottom: 10px;
}