#div-1 {
	background-color: green;
	display: inline;
}

#span-1 {
	background-color: purple;
	/*width and height of our 
	span will not change because
	we are using an inline display*/
	display: none;
	width: 280px;
	height: 280px;
}

#span-2 {
	background-color: red;
	display: block;
}

#div-2 {
	background-color: hotpink;
	display: none;
}

#img {
	/*img is an inline-block by default*/
	display: inline-block;
	width: 250px;
	height: 250px;
}

#p-1 {
	background-color: ;
}